body {
    background-color: black;
    color: white
}

.btn-primary {
    width: 150px;
    height: 80px;
    font-size: 28px;
    margin: auto;
    display: block;
}

.btn-danger {
    margin: auto;
    display: block;
}

.jumbotron {
    background-color: black;
}

.panel-body {
    background-color: black;
}